<h1>Listing engrade_sensor_test_receivers</h1>

<table>
  <tr>
    <th>Headers</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @engrade_sensor_test_receivers.each do |engrade_sensor_test_receiver| %>
  <tr>
    <td><%= engrade_sensor_test_receiver.headers %></td>
    <td><%= engrade_sensor_test_receiver.body %></td>
    <td><%= link_to 'Show', engrade_sensor_test_receiver %></td>
    <td><%= link_to 'Edit', edit_engrade_sensor_test_receiver_path(engrade_sensor_test_receiver) %></td>
    <td><%= link_to 'Destroy', engrade_sensor_test_receiver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= params %>

<br />

<%= link_to 'New Engrade sensor test receiver', new_engrade_sensor_test_receiver_path %>
