<p id="notice"><%= notice %></p>

<p>
  <b>Headers:</b>
  <%= @engrade_sensor_test_receiver.headers %>
</p>

<p>
  <b>Body:</b>
  <%= @engrade_sensor_test_receiver.body %>
</p>


<%= link_to 'Edit', edit_engrade_sensor_test_receiver_path(@engrade_sensor_test_receiver) %> |
<%= link_to 'Back', engrade_sensor_test_receivers_path %>
